<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../main.css">
    <link href="https://fonts.googleapis.com/css?family=Sarala|Stardos+Stencil:700|Comfortaa:400,700" rel="stylesheet">

    <script src="https://kit.fontawesome.com/8d3ba4a6ac.js" crossorigin="anonymous"></script>
</head>
<body>

{{> nav.hbs}}

<div class="jumbotron text-center" style="margin-bottom:0;">
    <div id="titulo">
        <h1 class="text-center" style="font-family: 'Stardos Stencil">Eventos <i class="fas fa-user-graduate"></i>
        </h1>
        <p>Se muestra lista de los eventos de {{nombre}}</p>
    </div>
</div>

<ul class="list-group text-center align-items-center">
{{#each eventos}}
        <li class="list-group-item list-group-item-info shadow p-3 mb-5 bg-white rounded evento">
                Nombre: {{nombre}}<br>
                Fecha: {{fechaYHora.dayOfMonth}}/{{fechaYHora.month}}/{{fechaYHora.year}}<br>
                Hora: {{fechaYHora.hour}}:{{fechaYHora.minute}}:{{fechaYHora.second}}<br>
            <form action="/Sugerir" method="POST">
                <button type="submit" value ={{nombre}} name="botoncito2"  class="btn btn-primary" style="margin-top: 20px;margin-left: 1000px;">Pedir sugerencia
                </button>
            </form>
        </li>
{{/each}}
</ul>

<div class="container-fluid">
    <form action="/perfil" method="POST">

        <div class="col-md-8 text-center container-fluid">
            <a href="perfil"  class="btn btn-primary">Volver a Perfil
            </a>
        </div>

    </form>
</div>

{{> footer.hbs}}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



</body>
</html>